<!DOCTYPE html>
<html>
  <head>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 20px;
      }
      .red {
        color: red;
      }
    </style>

    <script src="/static/vendor/platform/platform.js"></script>

    <link rel="import" href="/static/app/elements/password-field.html">
    <link rel="import" href="/static/app/elements/birthdate-field.html">
    <link rel="import" href="/static/app/elements/city-state-zip-field.html">

  </head>
  <body unresolved>
  <div class="container">
    <div class="jumbotron">
      <password-field></password-field>
      <birthdate-field></birthdate-field>
      <city-state-zip-field></city-state-zip-field>
      <span class="red">I am green</span>
    </div>
  </div>
  </body>
</html>
